#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

/*
===================================
Custom styles
===================================
*/

body{
  background: blue;
  //color: #888;
  font: 300 16px/22px "Yanone Kaffeesatz", sans-serif;
}

/*
========================
Typography
========================
*/

.title{
	color:white;
}


/*
========================
Details panel
========================
*/

.clickToDisplay{
	text-align: center;
	font-weight: bold;
}

/*
===================================
Buttons
===================================
*/

.btn{
  border-radius: 5px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.btn-alt{
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-alt:hover{
  background: black;
  color: white;
}

/*
========================
Row
========================
*/

row{
  background: #fff;
  padding: 66px 0 44px 0;
}
